@charset "utf-8";

@import "reset";

@mixin sp {
  @media screen and (max-width: 600px) {
    @content;
  }
}

html {
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif !important;
}

body {
  max-width: 600px;
  margin: auto;
  font-size: 15px;
  padding: 60px 0 100px;

  @include sp {
    font-size: 0.9em;
    padding: 3em 2em 5em;
  }
}

.main-prof {
  display: flex;
  align-items: flex-start;
  margin-bottom: 42px;

  @include sp {
    margin-bottom: 2.7em;
  }

  h1 {
    font-size: 38px;
    margin: 21px 0 16px;

    @include sp {
      font-size: 2.1em;
      margin: 0.7em 0 0.4em;
    }
  }

  &__prof-img {
    border-radius: 50%;
    width: 120px;
    margin-right: 25px;

    @include sp {
      width: 6.5em;
      margin-right: 1em;
    }
  }

  &__icon-wrapper img {
    width: 25px;
    margin: 0 7px 0 5px;

    @include sp {
      width: 1.3em;
      margin-right: 0.2em;
    }
  }
}

.description {
  padding: 0 20px;

  @include sp {
    padding: 0 1em;
  }

  h2 {
    font-size: 28px;
    margin: 37px 0 17px;

    @include sp {
      font-size: 1.5em;
      margin: 1.4em 0 0.7em;
    }
  }

  &__content {
    margin-left: 5px;
    line-height: 1.8;

    @include sp {
      margin-left: 0.25em;
      line-height: 1.7;
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 5px;

      @include sp {
        margin-left: 0.25em;
      }
    }

    a:link {
      color: gray;
    }

    a:visited {
      color: gray;
    }
  }
}