@charset "utf-8";

@import "reset";

@mixin sp {
  @media screen and (max-width: 600px) {
    @content;
  }
}

html {
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif !important;
}

body {
  max-width: 600px;
  min-width: 270px;
  margin: auto;
  font-size: 16px;
  padding: 60px 0 100px;

  @include sp {
    font-size: 1em;
    padding: 3em 2em 5em;
  }
}

.main-prof {
  display: flex;
  align-items: flex-start;

  &__name-wrapper {
    display: flex;
    flex-flow: column;
    height: 120px;
    justify-content: center;

    @include sp {
      height: 6.5em;
    }
  }

  h1 {
    font-size: 32px;
    margin-bottom: 16px;

    @include sp {
      font-size: 1.8em;
      margin-bottom: 0.6em;
    }
  }

  &__prof-img {
    border-radius: 50%;
    width: 120px;
    margin-right: 24px;

    @include sp {
      width: 6.5em;
      margin-right: 1em;
    }
  }

  &__icon-wrapper img {
    width: 24px;
    margin: 0 8px 0 4px;

    @include sp {
      width: 1.3em;
      margin-right: 0.2em;
    }
  }
}

.description {
  padding: 0 20px;

  @include sp {
    padding: 0 1em;
  }

  h2 {
    font-size: 24px;
    margin: 40px 0 16px;

    @include sp {
      font-size: 1.4em;
      margin: 1.6em 0 0.6em;
    }
  }

  &__content {
    margin-left: 4px;
    line-height: 1.8;

    @include sp {
      margin-left: 0.25em;
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 5px;

      @include sp {
        margin-left: 0.25em;
      }
    }

    a:link {
      color: gray;
    }

    a:visited {
      color: gray;
    }
  }
}
